{% extends "base.html" %}

{% block content %}
<h2>Reset Your Password</h2>

<p>Hi {{ name }},</p>

<p>We received a request to reset your password. Click the button below to create a new password:</p>

<p style="text-align: center; margin: 30px 0;">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</p>

<p>This link will expire in {{ expires_in_hours }} hours.</p>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>

<p>
    Best regards,<br>
    The {{ app_name }} Team
</p>
{% endblock %}
